{% extends 'base.html' %}

{% block nav %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'traffic:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'traffic:post_list' %}">Tickets</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Help</a>
          </li>
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'traffic:profile' id=user.id%}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}

        {% endblock %}

{% block main %}

    <h1>Help <i class="fas fa-question-circle text-primary"></i></h1><br>
    <p class="lead">If you need further assistance, or you would like to provide feedback,<br>click the button below and send your message.</p>
    <br>
    <a href="mailto:it@mandrroofing.ca" class="btn btn-primary btn-lg">Send</a>

{% endblock %}